name: build and push to docker hub

on:
  push:
    branches:
      - main  
  pull_request:
    branches:
      - main  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0' 

    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
              
    - name: .NET Restore
      run: dotnet restore        

    - name: Build Docker image and Push to Docker Hub
      run: |
        docker build --build-arg proj=HelloWorld -t helloworld .
        docker push lynn0706/helloworld:latest